.fl{
	float:left;
}
.fr{
	float:right !important;
}
.mg-15{
	margin:15px;
}
.mgl-5{
	margin-left:5px;
}
.mgl-10{
	margin-left:10px;
}
.mgl-15{
	margin-left:15px;
}
.mgl-20{
	margin-left:20px;
}
.mgr-5{
	margin-right:5px;
}
.mgr-10{
	margin-right:10px;
}
.mgr-15{
	margin-right:15px;
}
.mgr-20{
	margin-right:20px;
}
.mgt-0{
	margin-top:0 !important;
}
.mgt-5{
	margin-top:5px ;
}
.mgt-10{
	margin-top:10px;
}
.mgt-15{
	margin-top:15px;
}
.mgt-20{
	margin-top:20px;
}
.mgb-15{
	margin-bottom:15px;
}
.pd-top{
	padding: 50px 15px 15px 15px;
}
.pd-15{
	padding:15px;
}
.pd-30{
	padding:30px;
}
.pdl-0{
	padding-left:0 !important;
}
.pdl-15{
	padding-left:15px !important;
}
.pdl-20{
	padding-left:20px !important;
}
.pdr-15{
	padding-right:15px !important;
}
.pdl-50{
	padding-left:50px !important;
}
.pd-20{
	padding:20px;
}
.pdt-20{
	padding-top:20px;
}
.pdb-20{
	padding-bottom:20px;
}
.pdl-25{
	padding-left:25px !important;
}
.pdl-40{
	padding-left:40px !important;
}
.pdr-40{
	padding-right:40px !important;
}

.pdt-50{
	padding-top:50px;
}

.rel{
	position:relative;
}

.fixedPosition {
	position:fixed;
}

.color-333{
	color:#333 !important;
}
.color-999{
	color:#999 !important;
}
.color-red{
	color:#f4164a !important;
}
.color-green{
	color:#23b989 !important;
}
.color-yellow{
	color:#f8c700 !important;
}
.width-full{
	width:100%;
}
.fs-14{
	font-size:14px !important;
}
.fs-12{
	font-size:12px !important;
}
.over-hid{
	overflow:hidden;
}
.line-height24{
	line-height:24px !important;
}
.btn:hover{
	opacity: 0.7;filter:alpha(opacity=70);
}
.hide{
	display:none;
}
.tc{
	text-align:center !important;
}
.tl{
	text-align:left !important;
}
.line-height32{
	line-height:32px !important;
}
.shadow {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 299;
	background: rgba(0, 0, 0, 0.5);
}
.bor-rg-no{
	border-right:none !important;
}
.bor-no{
	border:none !important;
}

.col-md-9 {
	width: 85%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.echarts{
    padding: 0px;
    height: 840px;
    border: dashed 1px darkblue;
}

.input-group {
	margin-left: 85%;
}

.titleBack {
	background: #f5f6fa;
	border-radius:25px;
	font-weight: 600;
}

.textPannal {
	margin-left: 15px;
	font-size: 12px;
	font-weight: 800;
}

.sel_btn{
	height: 21px;
	width: 70%;
	line-height: 21px;
	padding: 0 11px;
	background: #f3f6f7;
	border: 1px #26bbdb solid;
	border-radius: 3px;
	/*color: #fff;*/
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	outline: none;
	margin-top: 20px;
}
.sel_btn:hover{
	height: 21px;
	width: 70%;
	line-height: 21px;
	padding: 0 11px;
	border: 1px #26bbdb solid;
	border-radius: 3px;
	/*color: #fff;*/
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	outline: none;
	margin-top: 20px;
	background: #e4e4e4;
}
.swal-footer {
	text-align: unset;
}

.tabs-content-wrapper {
	margin: 0 20px;
}